
.filter-bar {
  background-color: #fff;
  font-size: 13px;
  padding: 19px 0 19px 23px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  span:first-child {
    margin-left: 12px;
  }

  button {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border: 1px solid #c9d7ed;
    font-size: 11px;
    font-weight: bold;
    color: #627699;

    &:focus {
      background-color: #f6f9ff;
    }
    &:hover {
      background-color: #e7f1ff;
      color: #107eff;
    }

    .percentage {
      color: #93b0d2;
    }
  }
}

.implemented,
.not-implemented,
.unknown {
  float: right;
  font-size: 12px;
  font-weight: bold;
}

img.implemented,
img.not-implemented,
img.unknown {
  float: right;
  margin-left: 2px;
}

.implemented {
  color: #2ecc71;
}

.not-implemented {
  color: #ef0404;
}

.unknown {
  color: #ffb21d;
}
