
.filter-bar {
  background-color: #fff;
  font-size: 13px;
  padding: 19px 0 19px 23px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.implemented,
.not-implemented,
.unknown {
  float: right;
  font-size: 12px;
  font-weight: bold;
}

img.implemented,
img.not-implemented,
img.unknown {
  float: right;
  margin-left: 2px;
}

.implemented {
  color: #2ecc71;
}

.not-implemented {
  color: #ef0404;
}

.unknown {
  color: #ffb21d;
}
